@charset "UTF-8";

/* FOOTER ************************************************************/

#footer	{
	height: auto;
	padding: 20px 80px;
	margin: 0px;
	background-color: darkblue;
	overflow: auto;
}

.footerBox{
		width:390px;
		height:105px;
		padding:0px;
		margin:5px;
		background-color:lightblue;
		float:left;
}

.icon{
		width:105px;
		height:105px;
		padding:0px;
		margin:0px;
		background-color:yellow;
		float:left;
}

.title{
		width:250px;
		height:25px;
		padding:0px;
		margin:0px;
		color:blue;
		font-size:15px;
		font-weight:bold;
		background-color:pink;
		float:left;
	}
.cardImage{
		width:170px;
		height:55px;
		padding:0px 0px 0px 5px;
		margin:0px;
		background-color:orange;
		float:left;
	}
.more{
		width:280px;
		height:55px;
		padding:0px 0px 0px 5px;
		margin:0px;
		font-size:12.5px;
		background-color:orange;
		float:left;
	}
.link{
		width:250px;
		padding:0px;
		margin:0px;
		color:blue;
		font-size:15px;
		background-color:pink;
		float:left;
	}
.r	{
		float:right;
	}
.l	{
		float:left;
	}
#footerMenu{
		width:960px;
		padding:0px 0px 0px 0px;
		margin:0px;
		background-color:green;
		float:left;
		clear:both;
	}
#footerMenu p{
		width:960px;
		padding:0px 0px 20px 0px;
		margin:0px;
		text-align:center;
		background-color:darkred;
		float:left;
	}






