@CHARSET "UTF-8";

/* MAIN ************************************************************/



.newsbox1{
	height:300px;
	position: relative;
}

#news1{
	height:300px;
	position:absolute;
}

#news2{
	height:300px;
	position:absolute;
	display:none;
}

#news3{
	height:300px;
	position:absolute;
	display:none;
}