@charset "UTF-8";



/* MAIN ************************************************************/
#menu{float:left;clear:both;}
#menu ul[class="menu"]{
		list-style:none;
	}
#menu ul[class="menu"] li{
		width:100px;
		float:left;
	}
#menu ul[class="menu"] ul{
		display:none;/*通常は表示しない*/
		list-style:none;
		padding-left:0px;/*2段目の左位置を1段目に揃える*/
	}
#menu ul[class="menu"] li:hover > ul{
		display:block;/*マウスが乗ったら表示する*/
	}
#menu ul[class="menu"] a{
		color:blue;
		display:block;/*ブロックレベルに*/
		text-align:center;
		padding:5px;
		border:1px #000 solid;
		text-decoration:none;
		outline:none;/*選択時の点線枠線を消す*/
		background-color:lightblue;
	}
#menu ul[class="menu"] ul a{
		background-color:lightyellow;/*2段目以降の背景色*/
	}
#menu ul[class="menu"] a:hover{/*マウスカーソルが乗っている状態*/
		color:lightblue;
		background-color:blue;
	}
#menu ul[class="menu"] a:active{/* マウスがクリックされている状態 */
		color:#000;
		background-color:blue;
	}



#login{float:left;clear:both;}
#login ul.pulldown_menu_6 {
list-style: none; /* 先頭記号を消す */
}
#login ul.pulldown_menu_6 li {
width: 100px; /* リスト項目の幅 */
}
#login ul.pulldown_menu_6 ul {
display: none; /* 通常は表示しない */
list-style: none; /* 2段目の先頭記号を消す */
padding-left: 0px; /* 2段目の左位置を1段目に揃える */
}
#login ul.pulldown_menu_6 li ul {
display: none; /* 通常は表示しない */
}
#login ul.pulldown_menu_6 li:target > ul {
display: block; /* クリックしたら表示する */
position: relative; /* 相対位置で指定 */
top: -26px; 
margin-bottom: -26px; 
}
#login ul.pulldown_menu_6 li ul li:first-child > a {/* ダミーの1段目 */
background: url(image/gradation_red.jpg); /* 通常の背景画像 */
}
#login ul.pulldown_menu_6 a {
color: white; /* 文字色 */
display: block; /* ブロックレベルに */
text-align: center; /* 文字を中央合わせに */
padding: 5px; /* 内部の余白 */
border: 1px #9999FF solid; /* 枠線 */
text-decoration: none; /* 下線を消す */
outline: none; /* 選択時の点線枠線を消す */
background: url(image/gradation_red.bmp); /* 通常の背景画像 */
}
#login ul.pulldown_menu_6 ul a {
background: url(image/gradation_red2.jpg); /* ２段目以降の背景画像 */
}
#login ul.pulldown_menu_6 a:hover, 
 ul.pulldown_menu_6 li ul li:first-child > a:hover {/* マウスカーソルが乗っている状態 */
background: url(image/gradation_red_R.bmp); /* 通常の背景画像 */
color: blue; /* 文字色 */
}
#login ul.pulldown_menu_6 a:active {/* マウスがクリックされている状態 */
background: url(image/gradation_red_R.bmp); /* 通常の背景画像 */
color: red; /* 文字色 */
}

















